@if (data$ | async; as data) {
  @if (starwars$ | async; as starwars) {
    <form (ngSubmit)="submit($any(data))" #form="ngForm" validationId="sample-data2">
      <input type="hidden" name="id" [(ngModel)]="data.id" />
      <label>
        <span>Select a starwars</span>
        <select name="name" [(ngModel)]="data.name">
          <option value="">This is not a starwars figure</option>
          @for (item of starwars; track item) {
            <option>{{ item.name }}</option>
          }
        </select>
      </label>
      <label>
        <span>Some other thing here</span>
        <input type="email" name="email" placeholder="Your email" [(ngModel)]="data.email" />
      </label>
      <input type="submit" value="Submit" [disabled]="form.invalid" />
      <button type="reset">Reset</button>
    </form>
  } @else {
    LOADING DATA
  }
}
