:root {
  --ifm-color-primary-lightest: #fdfdfd;
  --ifm-color-primary-lighter: #4b6889;
  --ifm-color-primary-light: #486383;
  --ifm-color-primary: #6c63ff;
  --ifm-color-primary-dark: #3b516b;
  --ifm-color-primary-darker: #374d65;
  --ifm-color-primary-darkest: #212432;
  --ifm-font-family-base: "Rubik", sans-serif;
  --ifm-code-font-size: 95%;
  --ifm-heading-color: var(--ifm-font-color-base);
  --main-content-background-color: none;
  --darkest-alt: #171819;
}

html[data-theme="dark"] {
  --main-content-background-color: #1b1e2a;
  --ifm-background-color: var(--darkest-alt);
}
