
/* the props */
@import "open-props";

/* optional imports that use the props */
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";


:where(.ng-invalid):not(fieldset).ng-touched:focus {
  outline-color: var(--red-5);
  background-color: inherit;
}
:where(.ng-invalid):not(fieldset).ng-touched:not(form) {
  background-color: var(--red-2)
}


:where(fieldset).ng-invalid {
  border-color: var(--red-5);
}
