/* the props */
@import "open-props";

/* optional imports that use the props */
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";

:where(fieldset):has(*.ng-invalid) {
  border-color: var(--red-5);
  background-color: inherit;
}

:where(*):has(button.action) {
  /** make sure the parent of the action button has position relative */
  position: relative;
}

:where(button).action {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--surface-3);
  top:  0;
  right: 0;
  margin: 0;
}
