:host {
  display: flex;
  width: 100%;
  gap: .5rem;
  margin-top: .5rem;
}

select {
  width: 6rem;
}

button {
  background-color: var(--surface-2);
}

input[type=number] {
  width: 3rem;
}

/** don't style the group, just the inputs */
:host.ng-invalid {
  background-color: inherit;
}
