:host {
  display: block;
  margin-top: var(--size-3);
}

form {
  width: var(--size-content-3);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  margin: auto;
}
label {
  display: flex;
  flex-direction: column;
}
label > *:nth-child(2) {
  margin-left: var(--size-3);
}

fieldset {
  position: relative;
  display: flex;
  padding: var(--size-3);
  flex-direction: column;
  gap: var(--size-3);
}

fieldset > button {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: var(--surface-3);
  position: absolute;
  right: -0.2rem;
  top: -.9rem;
  scale: 0.7;
}

