<h1>form3 works!</h1>
<button
  (click)="fieldValidation=!fieldValidation">{{fieldValidation?'Field':'form'}}-level</button>
<ng-container *ngIf="data$ | async as data">
  <form validationId="sample-data" (ngSubmit)="submit($any(data))"
    #form="ngForm" [validateOnFieldChanges]="fieldValidation"
    #validointi="validointi">
    <input type="hidden" name="id" [(ngModel)]="data.id" />
    <label for="name">
      <span>Name</span>
      <input type="text" name="name" placeholder="Your name"
        [(ngModel)]="data.name" />
    </label>
    <fieldset>
      <legend>Contact info</legend>
      <app-contacts [contacts]="data.contacts" ngModelGroup="contacts"></app-contacts>
    </fieldset>

    <label>
      <span>Date of Birth</span>
      <input type="date" name="dob" placeholder="Your date of birth"
        [ngModel]="data.dob | date: 'yyyy-MM-dd'"
        (ngModel)="data.dob = $any($event).target.valueAsDate" />
    </label>
    <label>
      <span>Password</span>
      <input type="password" name="password" placeholder="Your password"
        [(ngModel)]="data.password" />
    </label>
    <label>
      <span>Confirm password</span>
      <input type="password" name="confirm" placeholder="Your password again"
        [(ngModel)]="data.confirm" />
    </label>
    <fieldset ngModelGroup="address">
      <legend>Address</legend>
      <label>
        <span>Street</span>
        <input type="text" name="street" placeholder="Your street"
          [(ngModel)]="data.address.street" />
      </label>
      <label>
        <span>City</span>
        <input type="text" name="city" placeholder="Your city"
          [(ngModel)]="data.address.city" />
      </label>
      <label>
        <span>State</span>
        <input type="text" name="state" placeholder="Your state"
          [(ngModel)]="data.address.state" />
      </label>
      <label>
        <span>Zip</span>
        <input type="text" name="zip" placeholder="Your zip"
          [(ngModel)]="data.address.zip" />
      </label>
    </fieldset>
    <fieldset>
      <legend>tags</legend>
      <button class="action" type="button" (click)="data.tags.push('')">➕</button>
      <!-- notice the label[tag][index] is the selector for the tag component -->
      <label *ngFor="let tag of data.tags; let index = index" [tag]="tag"
        [index]="index">
      </label>

    </fieldset>
    <input type="submit" value="Submit" [disabled]="form.invalid" />
    <button type="button"
      (click)="inspect(data,form, $event);validointi.validate()">Inspect &&
      force
      Validation</button>
    <button type="reset" (click)="clear(data, form, $event)">Empty all
      fields</button>
    <button type="button" (click)="reset(data,form)">Reset to initial
      values</button>
  </form>
</ng-container>
